

.chatBtnModal {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 25px;
    z-index: 9;
}

.btnChatModal {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}


.chatModal {
    position: fixed;
    bottom: 0;
    right: -500px; 
    width: 500px;
    height: 50%;
    background-color: #fff;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 10;
}

.chatModal.open {
    right: 0;
}

.chatModalContent {
    padding: 20px;
    height: 100%;
}


.chatModalHeader{
    display: flex;
    justify-content: space-between;
}
.chatModalHeader > button{
    outline: none;
    border: unset;
    background-color: unset;
}

.chatModalBody{
    display: flex;
    width: 100%;
    height: 100%;
}

.leftSide{
  max-width: 30%;
  width: 30%;
  border-right: 1px solid #000;
}

.rightSide{
      max-width: 70%;
        width: 70%;
      flex: 1;
}

.containerPreview{
    max-width: 250px;
}

.containerPreview img{
    max-width: 25%;
}
