 ul.pagination{
        margin-top: 50px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

 ul.pagination li{
    display: inline-block;
    margin: 0 5px;
}


 ul.pagination li a{
     display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    transition: all .3s;
}


 ul.pagination li.active a{
        background-color: #f35525;
    color: #fff;
}