<!DOCTYPE html>
<html lang="en">
<head>
    <title>Message from user</title>
</head>
<body>
    <h3>Message from user. 
         <b>Subject</b>:  {{subject}} 
    </h3>
   Name  user: {{name}} 
   Email user: {{email}} 
    <p>
        {{message}}
    </p>
</body>
</html>